{
    email jefritter@gmail.com
}

# Root site
fritter.lol {
    root * /srv/site
    file_server

    log {
        output file /var/log/caddy/access.log
        format json
    }
    
    handle_errors {
        rewrite * /404.html
        file_server
    }
}

# Overseerr
overseerr.fritter.lol {
    reverse_proxy overseerr:5055

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

# Sonarr
sonarr.fritter.lol {
    reverse_proxy sonarr:8989

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

# Radarr
radarr.fritter.lol {
    reverse_proxy radarr:7878

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

# Prowlarr
prowlarr.fritter.lol {
    reverse_proxy prowlarr:9696

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

# Cloud Commander
files.fritter.lol {
    reverse_proxy cloudcmd:8000

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

# qBittorrent
qb.fritter.lol {
    reverse_proxy qbittorrent:8080

    log {
        output file /var/log/caddy/access.log
        format json
    }
}

# Plex
plex.fritter.lol {
    reverse_proxy plex:32400

    log {
        output file /var/log/caddy/access.log
        format json
    }
}
